arabic-reshaper==3.0.1
asgiref==3.8.1
asn1crypto==1.5.1
certifi==2026.6.17
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.7
cryptography==49.0.0
cssselect2==0.9.0
dj-database-url==3.1.2
Django==5.1.7
django-axes==8.3.1
django-jazzmin==3.0.5
html5lib==1.1
idna==3.18
lxml==6.1.1
oscrypto==1.3.0
pillow==11.2.0
psycopg2-binary==2.9.12
pycparser==3.0
pyHanko==0.35.1
pyhanko-certvalidator==0.31.1
pypdf==6.14.2
python-bidi==0.6.11
python-nmap==0.7.1
PyYAML==6.0.3
reportlab==4.5.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.3
svglib==2.0.2
tinycss2==1.5.1
tzdata==2025.2
tzlocal==5.4.4
uritools==6.1.2
urllib3==2.7.0
webencodings==0.5.1
whitenoise==6.12.0
xhtml2pdf==0.2.17
