{% extends 'base.html' %}

{% block content %}

<h2>Waste Intake Form</h2>

<form method="POST" class="card p-3">
    {% csrf_token %}

    <div class="mb-3">
        <label>Category</label>
        <select name="category" class="form-control" required>
            {% for c in categories %}
                <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input type="number" step="0.01" name="quantity" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Source</label>
        <input type="text" name="source" class="form-control" required>
    </div>

    <button class="btn btn-success">Save Waste Intake</button>
</form>

{% endblock %}