{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h3>All Sales</h3>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Item</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.customer.company_name }}</td>
                <td>{{ sale.item.name }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.total_amount }}</td>
                <td>{{ sale.created_at }}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
<td>
    <a href="{% url 'sale_invoice' sale.id %}" class="btn btn-sm btn-success">
        Invoice
    </a>
</td>
</div>

{% endblock %}