

{% block content %}

<div class="container mt-5">

    <div class="card shadow mx-auto" style="max-width:500px">

        <div class="card-header bg-success text-white">
            <h4>Reset Password</h4>
        </div>

        <div class="card-body">

            <p>
                Enter your email address and we'll send you instructions
                to reset your password.
            </p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-success">
                    Send Reset Link
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}